<div class="page height">
  <div class="content">
    <h1 class="title-1">
      Please feel free to contact us for anything related with this project
    </h1>

    <div class="card">
      <h1 class="title-2">Contact Persons</h1>

      <ul class="text">
        <li>Benedikt Gross: <a href="mailto:benedikt.gross@fu-berlin.de" class="link">benedikt.gross@fu-berlin.de</a></li>
        <li>Milenko Tosic: <a href="mailto:milenko.tosic@vizlore.com" class="link">milenko.tosic@vizlore.com</a></li>
      </ul>
    </div>
  </div>
</div>
