$blue: #145887;
$blue-light: #6F99B5;
$blue-light-light: #95B4C9;
$blue-light-light-light: #C5D6E1;

$blue-aqua: #09d3ee;

$white: #fff;

$black-light: #383838;
$black: #222222;
$black-dark: #030303;
